@model BiaBraga.Domain.Models.Entitys.Product
@using BiaBraga.Repository.Classes

@{
    ViewData["Title"] = "Detalhes do produto";
}

<h1 class="mt-3">
    @ViewData["Title"]
</h1>
<hr />

<div class="jumbotron mb-5">
    <h1 class="display-4">@Html.DisplayFor(model => model.Name)</h1>
    <p class="lead">@Html.DisplayFor(model => model.Description)</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.OldPrice)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.OldPrice)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Name)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </div>
    </div>
    <hr />

    <a asp-action="Index" class="btn btn-info m-2 font-weight-bold">
        VOLTAR &nbsp;
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
        </svg>
    </a>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-info m-2 font-weight-bold">
        EDITAR &nbsp;
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
        </svg>
    </a>

    <button type="button" class="btn btn-info m-2 font-weight-bold" data-toggle="modal" data-target="#modal-image">
        IMAGENS &nbsp;
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-images" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.002 4h-10a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1zm-10-1a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-10zm4 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
            <path fill-rule="evenodd" d="M4 2h10a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1v1a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2h1a1 1 0 0 1 1-1z" />
        </svg>
    </button>

    <button type="button"
            class="btn btn-danger m-2 font-weight-bold"
            data-toggle="modal"
            data-target="#modal-delete">
        REMOVER &nbsp;
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
        </svg>
    </button>
</div>
<br />
<br />



<div id="modal-delete" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover Produto</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </div>
            <div class="modal-body">

                <h4>Você tem certeza que deseja remover esse produto?</h4>

                <form asp-action="Delete" method="post" class="p-2">

                    <input type="hidden" asp-for="ID" />
                    <p>

                        Esteja ciente que, removendo esse produto:
                        <ul>
                            <li>
                                Você irá remover todas as suas imagens.
                            </li>
                            <li>
                                Caso algum cliente tenha comprado, ele ainda irá possuir o acesso ao link da pagina de detalhes
                                do produto, porém, esse link estará "QUEBRADO"!
                            </li>
                        </ul>

                        <hr />

                        NÃO É RECOMENDÁVEL REMOVER UM PRODUTO, PARA ISSO QUE EXISTE A OPÇÃO DE DESATIVAR NA PÁGINA DE EDITAR!<br />

                        <br />
                        <span class="font-weight-bold">Essa ação é irreversível!</span>
                        <br />
                        <hr />
                    </p>
                    <button class="btn btn-danger w-100" type="submit" formmethod="post">
                        REMOVER &nbsp;
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="modal-image" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Imagens do produto</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </div>
            <div class="modal-body" style="max-height:500px; overflow:auto">

                <div id="card-images" class="card-group">
                </div>

            </div>
            <div class="modal-footer">
                <div class="row w-100 align-content-center justify-content-center">
                    <form id="form-image" method="post" class="col-md-10" enctype="multipart/form-data"
                          action="@Settings.UrlAPI/api/services/upload/?folder=products&name=@Model.ID">
                        <div class="form-group text-center">
                            <label class="h4 m-2">Adicionar uma nova imagem</label>
                            <input id="file" name="file" type="file" accept=".jpg,.jpeg,.png" onchange="validateFileType(this)" class="form-control-file bg-light" />
                        </div>
                        <div class="form-group">
                            <button id="btn-upload" class="btn btn-success w-100" disabled type="submit" formmethod="post">
                                GRAVAR IMAGEM &nbsp;
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-upload" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                    <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function validateFileType(element) {
        var fileName = element.value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();

        var obj = document.getElementById('btn-upload');

        if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
            obj.disabled = false;

        } else {
            obj.disabled = true;
            element.value = '';
            alert("Apenas imagens com extensão jpg,jpeg e png são permitidas.");
        }
    }

    function selectImages() {

        var xmlHttp = new XMLHttpRequest();

        var urlimages = '@Settings.UrlAPI' + "/api/products/images/@Model.ID";

        xmlHttp.open("GET", urlimages, false); // false for synchronous request
        xmlHttp.onload = function () {

            if (xmlHttp.status == 200) {

                document.getElementById('file').value = '';
                document.getElementById('btn-upload').disabled = true;
                var cards = document.getElementById('card-images');

                var images = JSON.parse(xmlHttp.response);

                cards.innerHTML = '';

                if (images.length == 0) {
                    cards.innerHTML = " <h4 class='w-100 text-center'>" +
                        "Nenhuma imagem para o produto" +
                        "</h4>";
                }
                else {
                    for (i = 0; i < images.length; i++) {

                        var stringOnclick = `onclick="removeFile('${images[i].name}')"`;

                        var urlimage = '@Settings.UrlAPI' + '/resources/images/products/' + @Model.ID + '/' + images[i].name;
                        cards.insertAdjacentHTML('beforeend',
                            "<div class='card mb-4 m-2' style='min-width: 22rem; max-width: 22rem;'>" +
                            " <div class='card-body'> " +
                            "<img class='card-img-top' src='" + urlimage + "' alt='image'>" +
                            "</div>" +
                            " <div class='card-footer'> " +
                            "<button " + stringOnclick + " class='btn btn-sm btn-danger float-right'>" +
                            "<svg width = '2em' height = '2em' viewBox = '0 0 16 16' class= 'bi bi-trash' fill = 'currentColor' xmlns = 'http://www.w3.org/2000/svg' > " +
                            "<path d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z' /> " +
                            "<path fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z' /> " +
                            "</svg>" +
                            "</button> " +
                            "</div>" +
                            "</div>");
                    }
                }
            }
        };
        xmlHttp.send(new FormData());
    }


    async function removeFile(file) {
        var urlFileRemove = '@Settings.UrlAPI' + '/api/services/delete-files/?folder=products/@Model.ID&file=' + file + '/';
        console.log(urlFileRemove);
        await fetch(urlFileRemove, {
            method: 'POST',
            contentType: 'application/json'
        });

        selectImages();
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        selectImages();
    });

    var form = document.getElementById('form-image');
    form.addEventListener('submit', function (e) {
        e.preventDefault();

        var url = this.action;
        var formData = new FormData(this);
        var ajax = new XMLHttpRequest();
        ajax.open("POST", url, true);
        ajax.onload = function () {
            if (ajax.status == 200) {
                selectImages();
            }
        };
        ajax.send(formData);
    });

</script>